@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-bold.woff?a762a767a3459fec2195da1373ebf0b1) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-bold.woff?a762a767a3459fec2195da1373ebf0b1) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/iransans-light.woff?469a8f6aa5b4631045b7d922102392ac) format("woff")
}

@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/iransans.woff?df14582918ca379a280e453bb3cc6ba5) format("woff")
}

@font-face {
    font-family: iransans-num;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/iransans-fa-num-bold.woff?e836ee3ec82a8794c92cc132e6351695) format("woff")
}

@font-face {
    font-family: iransans-num;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/iransans-fa-num-light.woff?1affe2af4bb70abb35723371a8d8dbaf) format("woff")
}

/****/
/* Left Bar */
/****/
.calender-one {

}

.calender-one nav.sections {
    overflow: hidden;
    display: block;
    float: left;
    width: 82px;
    height: auto;
    margin-right: 20px;
    background: #3bc1f8;
    box-shadow: 0 1px 1px rgba(78, 200, 247, .35);
    border-radius: 5px;
    text-aling: center;
}

.calender-one nav.sections li a {
    display: block;
    width: 100%;
    height: 82px;
}

.calender-one nav.sections li:hover,
.calender-one nav.sections li.active {
    background: #00aced;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .07);
}

::selection {
    background: rgba(0, 0, 0, .05);
}

.calender-one nav.sections li.notes a,
.calender-one nav.sections li.calendar a,
.calender-one nav.sections li.settings a {
    background: url('http://ysfu.net/sprite.png') no-repeat;
}

.calender-one nav.sections li.notes a {
    background-position: 25px 25px;
}

.calender-one nav.sections li.calendar a {
    background-position: 25px -57px;
}

.calender-one nav.sections li.settings a {
    background-position: 25px -139px;
}

/****/
/* Calendar */
/****/
.calender-one section.mounth {
    overflow: hidden;
    display: block;
    float: left;
    height: auto;
    background: #fff;
    border-radius: 5px;
}

.calender-one header {
    position: relative;
    display: block;
    height: 80px;
    background: rgba(233, 234, 240, 0.13);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .06);
}

.calender-one header h1 {
    margin-left: 30px;
    line-height: 80px;
}

.calender-one header nav {
    overflow: hidden;
    position: absolute;
    display: block;
    right: 30px;
    top: 30px;
}

.calender-one header nav span {
    display: block;
    float: left;
    width: 11px;
    height: 20px;
    margin-left: 30px;
    cursor: pointer;
    background: url('http://ysfu.net/sprite.png') no-repeat;
}

.calender-one header nav span:first-of-type {
    background-position: -77px -4px;
}

.calender-one header nav span:first-of-type:hover {
    background-position: -106px -4px;
}

.calender-one header nav span:last-of-type {
    background-position: -90px -4px;
}

.calender-one header nav span:last-of-type:hover {
    background-position: -119px -4px;
}

.calender-one article {
    padding: 6px 0 25px 25px
}

.calender-one article b,
.calender-one article span {
    display: block;
    float: left;
    width: 33px;
    font-family: iransans-num !important;
    height: 44px;
    margin: 4px;
    text-align: center;
}

.calender-one article b {
    font: 600 8px/40px 'iransans';
    color: #333;
}

.calender-one article span {
    font: 300 19px/45px 'Open Sans';
    color: #4c5373;
    box-shadow: inset 0 0 1px 1px #d9dce5;
    border-radius: 2px;
    cursor: pointer;
}

.calender-one article span.disable {
    color: #b6bacc;
    box-shadow: inset 0 0 1px 1px #f3f4f7;
}

.calender-one article span:not(.disable):hover {
    background: #cdd0dd;
    box-shadow: inset 0 0 1px 1px #d9dce5,
    0 1px 3px -1px #cdd0dd;
}

.calender-one article span:not(.disable):active {
    background: #b9becf;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .18),
    0 0 0 #cdd0dd;
}

.calender-one article span.active,
.calender-one article span.active:hover,
.calender-one article span.active:active {
    color: #fff;
    box-shadow: inset 0 0 1px 1px #ecdb50, 0 1px 3px -1px #ecdb50;
    background: #ecdb50;
}

.calender-one article div {
    display: block;
    overflow: hidden;
    clear: both;
}

/*calender11*/

.calender {
    border-left: 1px solid black;
    overflow: hidden;
    max-width: 1000px;
    margin: 30px auto;
    clear: both;
}

.week {
    overflow: hidden;
    clear: both;
}

.week span {
    background-color: rgb(57, 56, 56);
    color: white;
    display: block;
    float: right;
    width: 14.2857142857%;
    height: 45px;
    padding: 6px;
    line-height: 30px;
    text-align: center;
    /* border-top: 1px solid black; */
    /* border-right: 1px solid black; */
    /* border-bottom: 1px solid black; */
}

.day {
    overflow: hidden;
}

.day .info {
    width: 100%;
    padding: 0;
    margin: 0;

}

.day .info .day-item {
    width: 100%;
    height: auto;
    background-color: #717171;
    text-align: right;
    border-radius: 5px;
    font-size: 9px;
    padding: 10px;
    padding-right: 5px;
    color: white;
    padding-left: 2px;
    position: relative;
    overflow: hidden;
}

.day .info .day-item span {
    position: absolute;
    /* display: table; */
    color: #333;
    background-color: #ecdb50;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 15%;
    /* padding: 6px; */
    font-weight: bold;
    height: 104%;
    /* text-align: center; */
    /* vertical-align: middle; */
}

.day span {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    position: relative;
    display: block;
    float: right;

    font-family: iransans-num !important;

    width: 14.2857142857%;
    height: 80px;
    cursor: pointer;
    padding: 10px;
    padding-right: 3px;
    padding-left: 3px;
    border-right: 1px solid #6f6f6f;
    border-bottom: 1px solid #6f6f6f;
}


.day span:hover {
    background-color: rgb(236, 219, 80);
    color: #333;
}

.day button {
    display: block;
    margin: 10px auto 0;
    cursor: pointer;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 640px) {
    .day span:hover {
        background: #DFA;
    }

    .day button {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-top: 3em;
        margin: 0;
        overflow: hidden;
        background: none;
        border: none;
    }
}
