.panel {
    border-radius: 0px;
    margin-bottom: 30px;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: right;
}

select.form-control {
    background-color: #ffffff;
    border: 1px solid #e4e7ea;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.text-muted {
    font-size: 11px;
}

.panel .panel-heading {
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 25px;
}

.panel .panel-heading {
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 25px;
}

.panel > .table-responsive {
    margin-bottom: 0;
    border: 0;
}

.table-responsive {
    overflow-y: hidden;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table thead{
    background-color: rgba(222, 222, 222, 0.72);
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #e4e7ea;
}

* {
    outline: none !important;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px 8px;
}

.table-bordered, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th, .table > thead > tr > th {
    border-top: 1px solid #e4e7ea;
}

th {
    color: #666666;
    font-weight: 500;
}

.manage-u-table td {
    white-space: nowrap;
}

.manage-u-table select {
    max-width: 150px;
    border-radius: 60px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-info.btn-outline {
    color: #2cabe3;
    background-color: transparent;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.btn-success, .btn-success.disabled {
    background: #53e69d;
    border: 1px solid #53e69d;
}
.btn-rounded {
    border-radius: 60px;
}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success.focus, .btn-success:focus, .btn-success:hover {
    background: #53e69d;
    opacity: 0.8;
    border: 1px solid #53e69d;
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}